<% include ../partials/header %>
<body>
  <div id="roller">
    <button type="button" name="button" class="add">Add dice!</button>
    <button type="button" name="button"class="roll">Roll dice!</button>
    <div class="dice">
    </div>
  </div>
</body>
<%include ../partials/footer%>
